<ul>
    <li><a [routerLink]="['/home']">Home</a></li>            
    <li><a [routerLink]="['/cadastro-pessoa']">Cadastro</a></li>        
    <li><a [routerLink]="['/consulta-pessoa']">Consulta Banco01</a></li>
    <li><a [routerLink]="['/consulta2-pessoa']">Consulta Banco02</a></li>        
</ul>