form{
    position:fixed;
    left:34%;
    width:450px;
    height: 460px;
    border: 1px solid black;
    border-radius: 12px;
    border: 1px solid black; 
    padding: 5px; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
 }

 h3{

    background-color: gray;
    color: white;
    text-align: center;
    vertical-align: middle;    
    
    
 }

 button{
    right: 0;
    margin-right: 8px;
    bottom:0; 
    width: 100%;
 }

 label{

    margin-left: 8px;
 }