

<form (ngSubmit)="salvar()">   
    
    <br/>
    <h3>{{titulo}}</h3>
    
    <label>Código:
        <input type="input" name="codigo" size="10" [(ngModel)]="pessoa.codigo" disabled/>
    </label><br/><br>

    <label>Nome:
        <input type="input" name="nome" size="30" [(ngModel)]="pessoa.nome"/>
    </label><br/>

    <label>Nascimento:
        <input type="input" name="nascimento" size="30" [(ngModel)]="pessoa.nascimento"/>
    </label><br/>

    <label>Endereço:
        <input type="input" name="endereco" size="59" [(ngModel)]="pessoa.endereco"/>
    </label><br/>

    <label>CPF:
        <input type="input" name="cpf" size="25" [(ngModel)]="pessoa.cpf"/>
    </label><br/>

    <label>Fone:
        <input type="input" name="fone" size="30" [(ngModel)]="pessoa.fone"/>
    </label><br/>

    <label>E-mail:
        <input type="input" name="email" size="30" [(ngModel)]="pessoa.email"/>
    </label><br/>

    <label>Observação:
        <input type="input" name="fone" size="59" [(ngModel)]="pessoa.observacao"/>
    </label><br/>

    <label>Registro Ativo:
        <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="true">Sim
        <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="false">Não<br>
    </label><br/>

    <label>Banco de dados:<br>
        <input type="radio" name="banco" [(ngModel)]="pessoa.banco" [value]="true">Banco de dados 1
        <input type="radio" name="banco" [(ngModel)]="pessoa.banco" [value]="false">Banco de dados 2<br>
    </label>

    <button type="submit">Salvar</button>

</form>

