
<h1 style="margin-left:25%;">{{mensagem}}</h1> <br>

<div style="border-radius: 12px;margin-left:25%; border: 1px solid black; width: 680px; padding: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,0.2);">
    <div style="padding: 2px; background-color: Gray">
         <strong style="padding-left: 2px; color:White;">Espera-se o seguintes resultados:</strong>
    </div>
       <div style="display:inline-block; padding:5px 0px 0 12px">
        Criar uma aplicação angular / spring  / postgres ou outra DB que vc saiba utilizar.<br>
        Criar cadastro de pessoa simples (nome, data nascimento, endereço, cpf,fone,email, obs)<br>
        Criar dois bancos de dados banco01 e banco02 ambos devem conter a tabela pessoa.<br>
        Na tela de cadastro de pessoa criar uma botão que quando salvar os dados vão para o banco01 e<br>outro botão que os dados vão para o banco02.<br>
        Incluir CRUD completo para tela.
       </div>
</div>
