
<h3>{{titulo}}</h3>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endr.</th>
        <th>Observacao</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Reg. Ativo</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let pessoa of pessoas; let i = index;">
        <td>{{ pessoa.codigo }}</td>        
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.telefone }}</td>
        <td>{{ pessoa.enderaco }}</td>
        <td>{{ pessoa.observacao }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.cpf }}</td>

        <td *ngIf='pessoa.ativo'>Sim</td>
        <td *ngIf='!pessoa.ativo'>Não</td>
        <td><a (click)="editar(pessoa.codigo, pessoa.banco);">Editar</a></td>
        <td><a (click)="excluir(pessoa.codigo, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="10" style="text-align: right;">Total de Registros: {{ pessoas.length }}</td> 
        </tr>
    </tbody>
</table>
      