table {
    border-collapse: collapse;    
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: gray;
    color: white;
}

th {
    background-color: black;
    color: white;
}

a{
    cursor: pointer; 
    cursor: hand; 
    text-decoration:underline;
     
}